@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 0, 0, 0;
  }
}

.google-signin-button:hover {
  transform: scale(1.02);
}

div:focus {
  outline: none;
  box-shadow: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.click-animate {
  animation: clickAnimation 0.3s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
